/venv
/.vscode
__pycache__
/pydirectinput.egg-info
/build
/dist
**/logs
**/.env
**/.env_config
kha_lastz_auto/.env_config
kha_lastz_auto/playwright_zalo_data/
kha_lastz_auto/debug/
kha_lastz_auto/debug_ocr/
kha_lastz_auto/debug_close_ui/